<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
</head>

<body>
    <form action="{{domain}}/api/v1/users/newPassword" method="POST">
        <p>
            <label for="new_password">Nueva contraseña: </label>
            <input type="password" name="new_password" id="new_password">
        </p>
        <p>
            <label for="new_password">Vuelve a introducir tu nueva contraseña: </label>
            <input type="password" name="new_password" id="new_password">
        </p>
        {{if(username)}}
        <input type="hidden" name="username" value="{{username}}">
        {{/if}}
        <input type="hidden" name="_method" value="patch">
        <input type="submit">
    </form>


</body>

</html>